---
import { PHONE_CHANNEL } from '@models/consts/index'
---
<article class="flex items-center gap-6 text-slate-600 text-lg hover:text-slate-800">
    <svg width="32" height="32" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 6.26192C4 5.64308 4.24583 5.04959 4.68342 4.61201C5.121 4.17442 5.71449 3.92859 6.33333 3.92859H10.16C10.4048 3.92877 10.6433 4.00593 10.8417 4.14915C11.0402 4.29236 11.1887 4.49437 11.266 4.72659L13.0137 9.96842C13.1022 10.2348 13.0917 10.5242 12.9842 10.7835C12.8766 11.0428 12.6791 11.2546 12.428 11.3801L9.79483 12.6984C11.0855 15.555 13.3735 17.8431 16.2302 19.1338L17.5485 16.5006C17.674 16.2495 17.8858 16.052 18.1451 15.9444C18.4044 15.8368 18.6938 15.8264 18.9602 15.9149L24.202 17.6626C24.4344 17.74 24.6366 17.8886 24.7798 18.0873C24.923 18.286 25.0001 18.5248 25 18.7698V22.5953C25 23.2141 24.7542 23.8076 24.3166 24.2452C23.879 24.6828 23.2855 24.9286 22.6667 24.9286H21.5C11.8353 24.9286 4 17.0933 4 7.42859V6.26192Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <a href={PHONE_CHANNEL.url}>{PHONE_CHANNEL.name}</a>
</article>