---
import { WHATSAPP_CHANNEL } from '@models/consts/index'
---
<article class="flex items-center gap-6 text-slate-600 text-lg hover:text-slate-800">
    <svg width="32" height="32" viewBox="0 0 25 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_89_2)">
          <path d="M20.9054 5.20173C18.6607 2.95173 15.6714 1.71423 12.4946 1.71423C5.9375 1.71423 0.601786 7.04995 0.601786 13.6071C0.601786 15.7017 1.14821 17.7482 2.1875 19.5535L0.5 25.7142L6.80536 24.0589C8.54107 25.0071 10.4964 25.5053 12.4893 25.5053H12.4946C19.0464 25.5053 24.5 20.1696 24.5 13.6124C24.5 10.4357 23.15 7.45173 20.9054 5.20173ZM12.4946 23.5017C10.7161 23.5017 8.975 23.0249 7.45893 22.1249L7.1 21.9107L3.36071 22.891L4.35714 19.2428L4.12143 18.8678C3.13036 17.2928 2.61071 15.4767 2.61071 13.6071C2.61071 8.15888 7.04643 3.72316 12.5 3.72316C15.1411 3.72316 17.6214 4.75173 19.4857 6.62138C21.35 8.49102 22.4964 10.9714 22.4911 13.6124C22.4911 19.066 17.9429 23.5017 12.4946 23.5017ZM17.9161 16.0982C17.6214 15.9482 16.1589 15.2303 15.8857 15.1339C15.6125 15.0321 15.4143 14.9839 15.2161 15.2839C15.0179 15.5839 14.45 16.2482 14.2732 16.4517C14.1018 16.6499 13.925 16.6767 13.6304 16.5267C11.8839 15.6535 10.7375 14.9678 9.58571 12.991C9.28036 12.466 9.89107 12.5035 10.4589 11.3678C10.5554 11.1696 10.5071 10.9982 10.4321 10.8482C10.3571 10.6982 9.7625 9.23566 9.51607 8.64102C9.275 8.06245 9.02857 8.14281 8.84643 8.13209C8.675 8.12138 8.47679 8.12138 8.27857 8.12138C8.08036 8.12138 7.75893 8.19638 7.48571 8.49102C7.2125 8.79102 6.44643 9.50888 6.44643 10.9714C6.44643 12.4339 7.5125 13.8482 7.65714 14.0464C7.80714 14.2446 9.75179 17.2446 12.7357 18.5357C14.6214 19.3499 15.3607 19.4196 16.3036 19.2803C16.8768 19.1946 18.0607 18.5624 18.3071 17.866C18.5536 17.1696 18.5536 16.5749 18.4786 16.4517C18.4089 16.3178 18.2107 16.2428 17.9161 16.0982Z" fill="black"/>
        </g>
        <defs>
          <clipPath id="clip0_89_2">
            <rect width="24" height="27.4286" fill="white" transform="translate(0.5)"/>
          </clipPath>
        </defs>
    </svg>
    <a href={WHATSAPP_CHANNEL.url} target="_blank">{WHATSAPP_CHANNEL.nameSpanish}</a>
</article>