---
const {languaje} = Astro.props
const ENGLISH_PHRASE = "Being a translator means performing the noble job of communicating men who are separated by linguistic barriers that are totally or partially insurmountable for them."
const SPANISH_PHRASE = "Ser traductor significa ejercer el noble oficio de comunicar entre sí a hombres separados por barreras lingüísticas, total o parcialmente, infranqueables para ellos."
const AUTHOR = "Valentín García Yebra"
---
<section class="max-w-3xl m-autoh-24 p-2 m-auto mt-8">
    <article class="w-full rounded-xl px-7 md:px-10 py-5 sm:px-12 sm:py-12 bg-[url('/images/phrase-bg.png')] bg-cover">
        <strong class="text-white font-normal md:text-xl">{languaje === "english" ? ENGLISH_PHRASE : SPANISH_PHRASE}</strong>
        <p class="text-slate-100 text-sm mt-4 sm:mt-12 md:text-lg">{AUTHOR}</p>
    </article>
</section>