---
import Logo from '@icons/Logo.astro'
---

<header class="w-screen h-96 p-6 bg-gradient-to-b from-sky-200 to-white">
  <!-- CHANGE THE LENGUAGE SECTION -->
  <section
    class="w-full flex items-center justify-end max-w-4xl m-auto text-sm max-w-3xl"
  >
    <article class="flex gap-2 items-center">
      <button class="underline font-semibold text-slate-800">Español</button>
      <p>-</p>
      <button class="font-ligth text-slate-600">English</button>
      <svg
        class="text-slate-600 w-5 h-5"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418"
        ></path>
      </svg>
    </article>
  </section>

  <!-- HEADER SECTION -->
  <section class="flex flex-col-reverse xs:flex-row xs:mt-10 xs:items-center xs:justify-between gap-8 max-w-3xl m-auto">
    <article class="-mt-10 xs:mt-0">
      <p class="text-md xs:text-sm sm:text-lg md:text-xl text-slate-600 font-light">Traducciones</p>
      <h1 class="text-4xl xs:text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-black">Sofía Kaminskii</h1>
      <div class="mt-3 xs:mt-1 md:mt-3 lg:mt-5">
        <strong class="text-md xs:text-sm sm:text-lg md:text-xl font-semibold"
          >Traductora Pública de inglés</strong
        >
        <p class="font-thin text-md sm:text-lg">
          Matriculada CTPCBA
        </p>
      </div>
    </article>
    <Logo />
  </section>
</header>
