---
import Globe from '@icons/Globe.astro';
import Logo from '@icons/Logo.astro'
---

<header class="w-screen h-96 p-6 bg-gradient-to-b from-sky-200 to-white">
  <!-- CHANGE THE LENGUAGE SECTION -->
  <section
    class="w-full flex items-center justify-end max-w-4xl m-auto text-sm"
  >
    <article class="flex gap-2 items-center">
      <button class="underline font-semibold text-slate-800">Español</button>
      <p>-</p>
      <button class="font-ligth text-slate-600">English</button>
      <Globe />
    </article>
  </section>

  <!-- HEADER SECTION -->
  <section
    class="flex-col-reverse items-start xs:flex-row max-w-4xl m-auto flex xs:items-center xs:justify-center sm:justify-between xs:gap-8 xs:py-8"
  >
    <article class="-mt-4 xs:mt-0">
      <p class="text-slate-800 text-sm sm:text-xl">Traducciones</p>
      <h1 class="font-black text-2xl md:text-5xl sm:my-2">Sofía Kaminskii</h1>
      <strong class="font-medium text-sm text-slate-700 sm:text-xl"
        >Traductora Pública de inglés</strong
      >
      <p class="font-light text-slate-700 text-sm sm:text-xl">
        Matriculada CTPCBA
      </p>
    </article>
    <Logo />
  </section>
</header>
