---
import Globe from '@icons/Globe.astro';
import Logo from '@icons/Logo.astro';
const NO_SELECTED_HOVER = "relative before:content-[''] before:absolute before:block before:w-full before:h-[1px] before:bottom-0 before:left-0 before:bg-black before:hover:scale-x-100 before:scale-x-0 before:origin-top-left before:transition before:ease-in-out before:duration-300 hover:text-black"
const {languaje} = Astro.props
---

<header class="w-screen p-6 bg-gradient-to-b from-sky-200 to-white">
  <!-- CHANGE THE LENGUAGE SECTION -->
  <section
    class="w-full flex items-center justify-end m-auto text-sm max-w-3xl"
  >
    <article class="flex gap-2 items-center">
      <!--@ts-ignore -->
      <a class=`${languaje !== "english" ? "underline" : NO_SELECTED_HOVER} font-semibold text-slate-800 ` type="button" href="/">Español</a>
      <p>-</p>
      <a class=`${languaje === "english" ? "underline" : NO_SELECTED_HOVER} font-semibold text-slate-800 `  type="button" href="/english">English</a>
      <Globe />
    </article>
  </section>

  <!-- HEADER SECTION -->
  <section class="flex flex-col-reverse xs:flex-row xs:mt-10 xs:items-center xs:justify-between gap-8 max-w-3xl m-auto">
    <article class="-mt-10 xs:mt-0">
      {languaje === "english"
        ? <>
            <h1 class="text-4xl xs:text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-black">Sofía Kaminskii</h1>
            <p class="text-md xs:text-sm sm:text-lg md:text-xl text-slate-600 font-light">{languaje === "english"?"Translations":"Traducciones"}</p>
          </>
        : <>
            <p class="text-md xs:text-sm sm:text-lg md:text-xl text-slate-600 font-light">{languaje === "english"?"Translations":"Traducciones"}</p>
            <h1 class="text-4xl xs:text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-black">Sofía Kaminskii</h1>
          </>
      }
      <div class="mt-3 xs:mt-1 md:mt-3 lg:mt-5">
        <strong class="text-md xs:text-sm sm:text-lg md:text-xl font-semibold"
          >{languaje === "english"?"English < > Spanish Certified Translator":"Traductora Pública de inglés"}</strong
        >
        <p class="font-thin text-md sm:text-lg">
          {languaje === "english" ? "Registered CTPCBA":"Matriculada CTPCBA"}
        </p>
      </div>
    </article>
    <Logo />
  </section>
</header>
