---
import Metadata from "../meta/Metadata.astro"
import TopNavegation from "../components/topNavegation/TopNavegation.astro"
---

<html lang="en">
  <!-- HEAD -->
  <Metadata />
  
  <!-- BODY -->
  <body>
    <!-- NAVEGATION -->
    <TopNavegation />

    <!-- HEADER -->

    <!-- FOOTER -->
  </body>
</html>
