---
import Metadata from "../meta/Metadata.astro"
---

<html lang="en">
  <Metadata />
  <body>
    <h1 class="text-red bg-slate-400">Astro</h1>
  </body>
</html>

<script>
    const A = ''
</script>
