---
import Metadata from "../meta/Metadata.astro"
import TopNavegation from "@components/topNavegation/TopNavegation.astro"
import TopHeader from "@components/topHeader/TopHeader.astro";
---

<html lang="en">
  <!-- HEAD -->
  <Metadata />
  
  <!-- BODY -->
  <body>
    <!-- NAVEGATION -->
    <TopNavegation />

    <!-- HEADER -->
    <TopHeader />
    <!-- FOOTER -->
  </body>
</html>
