---
import Metadata from "../meta/Metadata.astro"
import TopNavegation from "@components/topNavegation/TopNavegation.astro"
import TopHeader from "@components/topHeader/TopHeader.astro";
import PhraseCard from "@components/phraseCard/PhraseCard.astro";
import Services from "@views/services/Services.astro";
import Principles from "@views/PrinciplesAndValues/PrinciplesAndValues.astro";
import Contact from "@views/Contact/Contact.astro";
import Footer from "@views/Footer/Footer.astro"
---

<html lang="en">
  
  <head>
    <Metadata />
  </head>

  <body>
    <TopNavegation />
    <TopHeader />
    <PhraseCard />
    <Services />
    <Principles />
    <Contact />
    <Footer />
  </body>

</html>
