---
const {title, description, icon} = Astro.props
---
<article class="border-slate-300 rounded-xl border-2 py-12 px-6 flex flex-col items-center">
    {icon === "personal-documents" && 
        <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M33.244 6.31074C31.0247 4.35218 27.4229 4.35218 25.2035 6.31074L8.46771 21.0802C4.63848 24.4595 4.63848 29.9339 8.46771 33.3132C12.2969 36.6925 18.5001 36.6925 22.3293 33.3132L36.1546 21.1123C37.146 20.2374 38.765 20.2374 39.7564 21.1123C40.7479 21.9873 40.7479 23.416 39.7564 24.291L25.9312 36.4919C20.11 41.6291 10.687 41.6291 4.86587 36.4919C-0.95529 31.3546 -0.95529 23.0388 4.86587 17.9016L21.6017 3.13209C25.8129 -0.584356 32.6346 -0.584356 36.8459 3.13209C41.0571 6.84855 41.0571 12.8687 36.8459 16.5852L20.8377 30.7125C18.2363 33.0082 14.016 33.0082 11.4147 30.7125C8.81334 28.4168 8.81334 24.6923 11.4147 22.3966L24.5123 10.8379C25.5037 9.96298 27.1227 9.96298 28.1141 10.8379C29.1055 11.7128 29.1055 13.1416 28.1141 14.0166L15.0165 25.5753C14.4071 26.1131 14.4071 26.996 15.0165 27.5338C15.6259 28.0716 16.6264 28.0716 17.2358 27.5338L33.244 13.4065C35.4633 11.448 35.4633 8.26931 33.244 6.31074Z" fill="black"/>
        </svg>
    }
    {icon === "legal-documents" && 
        <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M25.3892 1.0732C25.3892 1.07464 25.3874 1.07535 25.3864 1.07433C24.4099 0.100641 22.8265 0.101566 21.8512 1.07711L12.4789 10.4512C11.5026 11.4277 11.5026 13.0134 12.4789 13.9899L13.7285 15.2398C14.7048 16.2163 16.2903 16.2163 17.2666 15.2398C17.4391 15.0672 17.7189 15.0671 17.8915 15.2396L25.6077 22.9501C25.7803 23.1226 25.7804 23.4024 25.6079 23.5749C24.6316 24.5514 24.6316 26.1372 25.6079 27.1136L26.8575 28.3635C27.8338 29.34 29.4193 29.34 30.3955 28.3635L39.7678 18.9894C40.7441 18.013 40.7441 16.4272 39.7678 15.4507L38.5182 14.2008C37.5419 13.2244 35.9564 13.2244 34.9801 14.2008C34.8076 14.3734 34.5278 14.3734 34.3553 14.2008L26.6388 6.48283C26.4663 6.31025 26.4663 6.03047 26.6388 5.85789C27.6151 4.88142 27.6151 3.29564 26.6388 2.31917L25.392 1.07206C25.3909 1.07104 25.3892 1.07176 25.3892 1.0732ZM13.5177 23.571C13.5177 23.5724 13.5159 23.5732 13.5149 23.5721C12.5384 22.5984 10.955 22.5994 9.97964 23.5749L1.23221 32.3241C0.255931 33.3005 0.255931 34.8863 1.23221 35.8628L4.98111 39.6124C5.95739 40.5889 7.54286 40.5889 8.51913 39.6124L17.2666 30.8633C18.2428 29.8868 18.2428 28.301 17.2666 27.3245C17.2062 27.2642 17.2062 27.1662 17.2667 27.1059L19.9787 24.3979C20.9566 23.4216 20.9572 21.8371 19.9802 20.8599C19.0035 19.883 17.4197 19.883 16.443 20.8599L13.659 23.6444C13.6414 23.6621 13.6127 23.6621 13.595 23.6444L13.5204 23.5699C13.5194 23.5688 13.5177 23.5696 13.5177 23.571Z" fill="black"/>
        </svg>
    }
    {icon === "commercial-documents" && 
        <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M25.3892 1.0732C25.3892 1.07464 25.3874 1.07535 25.3864 1.07433C24.4099 0.100641 22.8265 0.101566 21.8512 1.07711L12.4789 10.4512C11.5026 11.4277 11.5026 13.0134 12.4789 13.9899L13.7285 15.2398C14.7048 16.2163 16.2903 16.2163 17.2666 15.2398C17.4391 15.0672 17.7189 15.0671 17.8915 15.2396L25.6077 22.9501C25.7803 23.1226 25.7804 23.4024 25.6079 23.5749C24.6316 24.5514 24.6316 26.1372 25.6079 27.1136L26.8575 28.3635C27.8338 29.34 29.4193 29.34 30.3955 28.3635L39.7678 18.9894C40.7441 18.013 40.7441 16.4272 39.7678 15.4507L38.5182 14.2008C37.5419 13.2244 35.9564 13.2244 34.9801 14.2008C34.8076 14.3734 34.5278 14.3734 34.3553 14.2008L26.6388 6.48283C26.4663 6.31025 26.4663 6.03047 26.6388 5.85789C27.6151 4.88142 27.6151 3.29564 26.6388 2.31917L25.392 1.07206C25.3909 1.07104 25.3892 1.07176 25.3892 1.0732ZM13.5177 23.571C13.5177 23.5724 13.5159 23.5732 13.5149 23.5721C12.5384 22.5984 10.955 22.5994 9.97964 23.5749L1.23221 32.3241C0.255931 33.3005 0.255931 34.8863 1.23221 35.8628L4.98111 39.6124C5.95739 40.5889 7.54286 40.5889 8.51913 39.6124L17.2666 30.8633C18.2428 29.8868 18.2428 28.301 17.2666 27.3245C17.2062 27.2642 17.2062 27.1662 17.2667 27.1059L19.9787 24.3979C20.9566 23.4216 20.9572 21.8371 19.9802 20.8599C19.0035 19.883 17.4197 19.883 16.443 20.8599L13.659 23.6444C13.6414 23.6621 13.6127 23.6621 13.595 23.6444L13.5204 23.5699C13.5194 23.5688 13.5177 23.5696 13.5177 23.571Z" fill="black"/>
        </svg>
    }
    {icon === "scientific-documents" && 
        <svg width="43" height="35" viewBox="0 0 43 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_49_351)">
                <path d="M11.5004 26.5421C10.8572 27.5921 10.516 28.793 10.516 30.0268C9.85974 30.2565 9.15099 30.3877 8.41599 30.3877C4.93787 30.3877 2.11599 27.5659 2.11599 24.0877V5.18773C0.954429 5.18773 0.0159912 4.24929 0.0159912 3.08773C0.0159912 1.92617 0.954429 0.987732 2.11599 0.987732H6.31599H10.516H14.716C15.8776 0.987732 16.816 1.92617 16.816 3.08773C16.816 4.24929 15.8776 5.18773 14.716 5.18773V21.3249L11.5004 26.5487V26.5421ZM6.31599 5.18773V11.4877H10.516V5.18773H6.31599ZM23.116 0.987732H31.516H33.616C34.7776 0.987732 35.716 1.92617 35.716 3.08773C35.716 4.24929 34.7776 5.18773 33.616 5.18773V15.0905L41.3401 27.6446C41.7797 28.3599 42.016 29.1868 42.016 30.0334C42.016 32.5468 39.9751 34.5877 37.4616 34.5877H17.1704C14.6569 34.5877 12.616 32.5468 12.616 30.0334C12.616 29.1934 12.8522 28.3665 13.2919 27.6446L21.016 15.0905V5.18773C19.8544 5.18773 18.916 4.24929 18.916 3.08773C18.916 1.92617 19.8544 0.987732 21.016 0.987732H23.116ZM25.216 5.18773V15.6877C25.216 16.0749 25.111 16.4555 24.9076 16.7902L21.7051 21.9877H32.9269L29.7244 16.7902C29.521 16.4621 29.416 16.0815 29.416 15.6877V5.18773H25.216Z" fill="black"/>
            </g>
            <defs>
                <clipPath id="clip0_49_351">
                <rect width="42" height="33.6" fill="white" transform="translate(0.0159912 0.987732)"/>
                </clipPath>
            </defs>
        </svg>
    }
      
    <strong class="text-lg font-black mt-6">{title}</strong>
    <p class="mt-2 text-sm font-light text-slate-600 text-center">{description}</p>
</article>